@model Alpha.Models.DonationTB

@{
    ViewBag.Title = "DonationDetails";
}

<h2>Donation Details</h2>

<div>
    <h4>DonationTB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonateDate)
        </dd>


    </dl>

    
        <section class="ftco-section">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-6 d-flex ftco-animate">
                        <div class="img img-about align-self-stretch" style="background-image: url(/Content/Index/images/bgg_3.jpg); width: 100%;"></div>
                    </div>
                    <div class="col-md-6 pl-md-5 ftco-animate">
                        <h2 class="mb-4">DO MORE WITH YOUR DONATION</h2>
                        <p>You Can Share your messege through your contribution. This Country needs examples like you.</p>
                        <p>@Html.ActionLink("Join Us?", "Register")</p>
                    </div>
                </div>
            </div>
        </section>
   



</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
