@model IEnumerable<Alpha.Models.RecieverTB>

@{
    ViewBag.Title = "ReliefList";
}

<h2>ReliefList</h2>

<p>
    @Html.ActionLink("Back", "Index")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.RecieverPhoneNo)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMemberCount)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.RecieverJob)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.RecieverName)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMemberCount)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.RecieverJob)
        </td>
        
    </tr>
}

</table>
